

body {
  font-family: "Open Sans", Arial, sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.7;
  color: #828282;
  background: #fff; }


p {
  margin-bottom: 20px; }

h1, h2, h3, h4, h5, h6{
  color: #000;
  font-family: "Open Sans", Arial, sans-serif;
  font-weight: 400;
  margin: 0 0 20px 0; }


#aside {
  width: 40%;
  top: 0;
  left: 0;
  bottom: 0;
  position: fixed;
  height: 100%;
  z-index: 555;
  background-color: #0bbbe6;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center; }
  #aside #logo {
    padding-top: 0%;
  padding-left: 2%; }

#main-content {
  margin-left: 38.1966%;
  position: relative;
  z-index: 999;
  min-height: 600px;
  padding-left: 70px;
  padding-right: 70px; }

.intro {
  text-align: center;
  margin-top:16%;
  margin-bottom: 30px;
  float: left;
  width: 100%;
  position: relative; }
  .intro h2 {
    margin-bottom: 10px;
    font-size: 40px;
    font-weight: 800; }
