.wrapper {
    height: 100vh;
    overflow-x: hidden;
    overflow-y: auto;
    perspective: 2px;
}

.section {
    position: relative;
    height: 30rem;
    /* For text formatting. */
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
}

.parallax::after {
    content: " ";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    transform: translateZ(-1px) scale(1.5);
    background-size: 100%;
    z-index: -1;

}

.static {

    background: linear-gradient(rgba(0, 0, 0, 0) 0%, rgba(110, 0, 184, 50) 25%, rgba(110, 0, 184, 100) 30%, rgba(110, 0, 184, 50) 70%, rgba(110, 0, 184, 50) 75%, rgba(0, 0, 0, 0) 100%);

}

.bg1::after {
    background-image: url("static/centering.png");
    background-repeat: no-repeat;
}

.bg2::after {
    background-image: url("static/first_day.jpg");
    background-repeat: no-repeat;
}

.bg3::after {
    background-image: url("static/days-off.png");
    background-repeat: no-repeat;
}
